@charset "utf-8";
body{

}
/* 모바일 메뉴 */
.m_menu_wrap{
    display: none;
}
/* -------------- HEADER --------------- */
header{
    width: 100%;
}
header .inner{
    width: 950px;
    height: 70px;
    margin: 0 auto;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    position: relative;
}
header .inner h1{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
header .inner h1 a{
    display: block;
    width: 116px;
    height: 22px;
    background: url('../images/logo-1.png')no-repeat center top;
    text-indent: -9999px;
}
header .inner .gnb{
    display: flex;
    gap: 42px;
    position: absolute;
    left: 50%;
    margin-left: 20px;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
}
header .inner .gnb>li{
    display: flex;
    position: relative;
}
header .inner .gnb>li>a{
    color: var(--text-777, #777);
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 42px;
    height: 70px;
}
/* 2단메뉴 */
header .inner .gnb>li>.depth2{
    position: absolute;
    width: 202px;
    left: 50%;
    top: 70px;
    transform: translateX(-50%);
    z-index: 100;
    text-align: center;
    padding: 24px 0;
    background: #F87527 url("../images/sub_cur.png")no-repeat center top;
}
header .inner .gnb>li>.depth2>li a{
    display: block;
    color: rgba(255,255,255,0.6);
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 16px;
}
header .inner .gnb>li>.depth2>li:last-child a{
    margin-bottom: 0;
}
header .inner .gnb>li>.depth2>li:hover a{
    color: rgba(255,255,255,1);
}
header .inner .shop{
    width: 76px;
    height: 22px;
    background: url("../images/shop-btn-lf-ot-1.png")no-repeat;
    text-indent: -9999px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
header .inner .gnb li:hover a{
    color: #F47321;
}
header .m_btn{
    display: none;
}
/* ------------------------- MAIN ------------------------ */
main{
    width: 100%;
}
main .slider{
    z-index: 9;
}
main .slider .slick-prev{
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 50px;
    height: 50px;
    background: url("../images/btn-left-1.png") no-repeat;
    text-indent: -99999px;
}
main .slider .slick-next{
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 50px;
    height: 50px;
    background: url("../images/btn-right-1.png") no-repeat;
    text-indent: -99999px;
}
main .slider .slick-dots{
    position: absolute;
    left: 50%;
    bottom: -24px;
    transform: translateX(-50%);
    z-index: 20;
    display: flex;
    gap: 8px;
}
/* 이미지는 부모요소에 100% */
main .slider div img{
    width: 100%;
}
main .slider .slick-dots li button{
    width: 60px;
    height: 6px;
    background: #000;
    text-indent: -99999px;
}
main .slider .slick-dots .slick-active button{
    width: 60px;
    height: 6px;
    background: #F47321;
    text-indent: -99999px;
}
main .text{
    margin: 72px 0;
    text-align: center;
}
main h2{
    color: var(--000, #000);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 36px;
    text-align: center;
}
main .text p{
    color: var(--text-777, #777);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
main .text p span{
    font-weight: 600;
}
/* pc에서 적용되면 안되는 부분 */
main .text p br.show{
    display: none;
}
/* collection box */
main .collection{
    width: 100%;
    border-top: 10px solid #F47321;
    display: flex;
    flex-wrap: wrap;
}
main .collection div{
    position: relative;
}
main .collection .collect1,
main .collection .collect2{
    width: 50%;
}
main .collection .collect3,
main .collection .collect4,
main .collection .collect5{
    width: 33.33%;
}
main .collection div img{
    width: 100%;
}
/* hover시 이미지 cover */
main .collection div .cover{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
/* list box */
main .list{
    width: 100%;
    background: #ececec;
    padding: 72px 50px 50px 50px;
}
main .list span{
    color: #F47321;
}
main .list .sns{
    display: flex;
    gap: 0;
    flex-wrap: wrap;
}
main .list .sns li{
    width: 25%;
    position: relative;
}
main .list .sns li .cover{
    position: absolute;
    left: 0;
    top: 0;
}
/* 모바일 리스트 */
main .m_list{
    display: none;
}
/* ----------------------------FOOTER---------------------------- */
footer{
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
footer .util_wrap .util{
    display: flex;
    gap: 16px;
}
footer .util_wrap .util li{
    position: relative;
}
footer .util_wrap .util li a{
    color: var(--text-777, #777);
    font-size: 14px;
    font-weight: 400;
}
footer .util_wrap .util li+li::before{
    content: '';
    width: 5px;
    height: 5px;
    background: #777;
    border-radius: 100%;
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
}
footer .util_wrap p{
    color: var(--999, #999);
    font-size: 12px;
    font-weight: 400;
    margin-top: 16px;
}
/* 오른쪽 util */
footer .util2_wrap{
    display: flex;
    gap: 16px;
    align-items: center;
    position: absolute;
    right: 50px;
    top: 50px;
}
footer .util2_wrap .f_mark{
    color: var(--text-777, #777);
    font-size: 14px;
    font-weight: 400;
    position: relative;
}
footer .util2_wrap .f_mark::before{
    content: '';
    width: 20px;
    height: 15px;
    background: url("../images/france-1.png")no-repeat;
    position: absolute;
    left: -28px;
    top: 0;
}
footer .util2_wrap .family{
    position: relative;
}
footer .util2_wrap .family .btn_f{
    width: 127px;
    height: 24px;
    border: 1px solid #777;
    text-align: left;
    color: #777;
    position: relative;
}
footer .util2_wrap .family .btn_f::before{
    content: '';
    width: 12px;
    height: 12px;
    background: url("../images/mdi_menu-up.png")no-repeat;
    background-size: 12px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}
/* family box 디자인 */
footer .util2_wrap .family .list{
    width: 127px;
    border: 1px solid #777;
    text-indent: 6px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 24px;
    display: none;
}
footer .util2_wrap .family .list li{
    line-height: 24px;
}
footer .util2_wrap .family .list li a{
    font-size: 14px;
    color: #777;
}
footer .util2_wrap .family .list li:hover{
    background: #ececec;
}